* {
	margin: 5px;
	padding: 0;
}

body {
	background-color: #333;
}


ul {
	width: 1020px;
	height: 1900px;
	border: white solid 5px;
	margin: 60px auto;
	box-shadow: 0px 0px 10px #ccc;
}
li.zi {
         width: 320px;  
	 height: 20px; 
	 list-style: none;
	 float: left; 
	 margin: 20px;
	 color: white;
	/* x y 扩散程度 阴影颜色*/
	box-shadow: 0px 0px 10px white;
}
li.p {
	 width: 320px;  
	 height: 500px; 
	list-style: none;
	float: left;
	margin: 10px;
	/* x y 扩散程度 阴影颜色*/
	box-shadow: 0px 0px 10px white;
}

img {
	display: block; 
	width: 100%;
	height: 100%;
	onmouseout: expression(onmouseout=function (){
		this.style.width = '100%';
		this.style.height = '100%'; 
	});

}

img:hover {
	width: 150%;
	height: 150%;
	position: relative;
	top: -40px;
	left: -40px;
}

div span {
  margin-left: 75px;
  margin-right: 85px; 
  font-size: 23px;
  color: white;  
}


.title{
    position:absolute;
    bottom:0px;
    left:0px;
    display:block;

}
