<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	{% if page.title %}
	<title>{{ page.title }} - {{ site.name }}</title>
	{% else %}
	<title>{{ site.name }}</title>
	{% endif %}
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap">
	<style>
		* {
			font-family: "Noto Sans SC", "Source Han Sans SC", "Noto Sans", "Source Sans", Roboto, "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
		}
	</style>
</head>
<body>
	<header class="page-header" role="banner">
		<h1 class="project-name">{{ site.name }}</h1>
	</header>
	<main id="content" class="main-content" role="main">
		{% if page.title %}
		<h1>{{ page.title }}</h1>
		{% endif %}
		{% include nav.html %}
		<hr />
		{{ content }}
	</main>
</body>
</html>